html {
    font-size: 16px;
}

.btn {
    max-width: 300px;
    border: none;
    outline: none;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px !important;
}

.country-flag {
    max-width: 100%;
}

.border-title {
    min-width: 127px;
}

@media (min-width: 992px){
    .country-flag {
        height: 450px;
        object-fit: cover;
    }

    .border-title {
        font-size: 0.8rem !important;
    }

    .btn {
        font-size: 0.8rem !important;
    }
}