:root {
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-text: hsl(200, 15%, 8%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

a {
  text-decoration: none;
  color: var(--light-mode-text);
}

.form-container, .country.container {
  max-width: 100%;
}

.country-input {
  max-width: 100%;
}

.no-outline {
  border: none;
}

.country-input {
  border-radius: 10px !important;
  background-color: #ffffff;
}

#form-input  {
  background-color: white;
}

.country-input:hover,
.region-select:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px !important;
}

.no-outline:focus {
  outline: none !important;
  box-shadow: none;
}

.no-outline::placeholder {
  color: var(--light-mode-input);
}

.input-group-text {
  border: none;
  background-color: #ffffff;
}

.region-select {
  border-radius: 10px !important;
  width: 75%;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.country {
  max-width: 500px;
}

.card {
  cursor: pointer;
}

@media (min-width: 768px) {
  .header-container {
    width: 100% !important;
  }

  .header-container h5 {
    font-size: 1.5rem !important;
  }

  .form-container {
    max-width: 920px;
  }

  .country-input {
    max-width: 600px;
  }

  .region-select {
    max-width: 250px;
  }

  .country-input input {
    font-size: 1.5rem;
  }

  .card {
    height: 375px;
  }
}

@media (min-width: 1200px) {
  .form-container {
    max-width: 1280px;
  }

  #country-container {
    max-width: 1440px;
  }
}